.side-links{
  display:none;
}
li {
    list-style-type: none;
  }
  
  .side-links li a {
    text-decoration: none;
    margin: 0 2rem;
  }
  

  @media only screen and (max-width: 768px) {
    .side-links {
        display: block;
        height:10.5rem;
        width: 100%;
        left:0rem;
        position: absolute;
        top:4.005rem;
        background-color: bisque;
      }
      .side-links li{
        padding:0.5rem 0 0.5rem 0;
        margin:0.1rem;
        border:1px solid black;
        border-radius: 5px;
      }
      .side-links li:hover{
        background-color:rgb(245, 250, 255);
        cursor: pointer;
      }
  }